@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&display=swap');

*{
    font-family: "Overpass";
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%!important;
    height: 100vh!important;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(18, 20, 23)!important;
}

.rating-container{
    border-radius: 30px;
    background: linear-gradient(rgb(35, 42, 50), rgb(23, 30, 40));
    width: 400px;
    height: 425px;
    margin: 30px;
    padding: 35px;
}

.rating-container .puntuacion h2{
    font-weight: 700;
}

.rating-container .puntuacion .circulo{
    border-radius: 50%;
    background-color: rgb(37, 45, 55);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50px;
    height: 50px;
}

.rating-container .puntuacion h2{
    margin-top: 30px;
}

.rating-container p{
    font-size: 15px;
    color: rgb(124, 135, 152);
}

.rating-container .puntuacion .puntajes{
    display: flex;
    justify-content: space-around;
    color: rgb(124, 135, 152);
}

.rating-container .puntuacion .boton-enviar{
    background-color: rgb(251, 116, 19);
    color: white;
    width: auto;
    border: none;
    border-radius: 50px;
    text-align: center;
    text-decoration: none;
    width: 100%;
    height: 50px;
    margin-top: 30px;
}




.rating-container .agradecimiento{
    display: grid;
    justify-items: center;
}

.rating-container .agradecimiento .img-agradecimiento{
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.rating-container .agradecimiento .puntaje-seleccionado{
    background-color: rgb(37, 45, 55);
    color: rgb(251, 116, 19)!important;
    border-radius: 50px;
    padding: 5px 15px;
    margin-top: 30px;
}

.rating-container .agradecimiento h2{
    margin: 30px;
}

.rating-container .agradecimiento p{
    text-align: center;
     margin: -5px!important;
}

/*-------CREDITOS-------*/

.attribution {
    font-size: 11px;
    text-align: center;
    color: white;
}

.attribution a {
    color: hsl(228, 45%, 44%);
}